<h1>Calc#view</h1>
<p>Find me in app/views/calc/view.html.erb</p>
<table border="1">
  <tr>
    <td>Наибольший общий делитель</td>
    <td>Наименьшее общее кратное</td>
  </tr>
  <tr>
    <td><%= @result_one %></td>
    <td><%= @result_two %></td>
  </tr>
</table>
<%= link_to "Repeat calculation", :calc_input %>
